//
// Variables
// ==============================




// Colours
// ------------------------------

@text-color:              #333;
@heading-color:           #222;




// Typography
// ------------------------------

@dateselect-font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@dateselect-font-size:    14px;





// Modals
// ------------------------------

@dateselect-bg:                    white;
@dateselect-backdrop-bg:           rgba(0, 0, 0, 0.5);




// Date Picker
// ------------------------------

@dateselect-primary:             #1076e5;

@dateselect-bg:                  #fafafa;
@dateselect-header-bg:           desaturate(@dateselect-primary, 20%);
@dateselect-footer-bg:           darken(@dateselect-bg, 5%);
@dateselect-footer-border:       darken(@dateselect-bg, 15%);
@dateselect-footer-color:        #666;

@dateselect-selected-day-bg:     @dateselect-primary;
@dateselect-selected-day-color:  white;
@dateselect-current-day-bg:      darken(@dateselect-bg, 3%);
@dateselect-current-day-border:  darken(@dateselect-bg, 15%);

@dateselect-legend-color:        #999;
@dateselect-range-color:         #666;

@dateselect-padding:             8px;
@dateselect-dialog-width:        280px;
@dateselect-ranges-width:        140px;

@dateselect-title-button-height: 30px;
@dateselect-title-button-width:  20px;




// Z-Index List
// ------------------------------

@dateselect-zindex:                   110;
@dateselect-zindex-backdrop:          @dateselect-zindex - 1;




// Misc
// ------------------------------

@dateselect-border-radius-outer:         .33em;
@dateselect-border-radius-inner:           .25em;




// Media queries breakpoints
// ------------------------------

// Extra small screen / phone
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);










