// 
// Common Example Styles
// ------------------------------


// Body


a {
	color: #08c;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	padding: 1em;
}

.footer {
	margin-top: 50px;
	border-top: 1px solid #eee;
	padding: 20px 0;
	font-size: 12px;
	color: #999;
}


// Type

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-weight: 300;
	margin: 1em 0 0.5em 0;
}

.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}


// 
// Select Control
// ------------------------------

@import "../../less/components.less";
@import "../../less/dateselect.less";
@import "../../less/mixins.less";
@import "../../less/normalize.less";
@import "../../less/scaffolding.less";
@import "../../less/variables.less";
