// 
// Common Example Styles
// ------------------------------



// normalize
/*html {
	font-family: sans-serif;
}
body {
	background-color: white;
	color: #333;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
}*/

// scaffolding
/** {
	.box-sizing(border-box);
}
*:before,
*:after {
	.box-sizing(border-box);
}*/



// Layout

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	padding: 1em;
}

.footer {
	margin-top: 50px;
	border-top: 1px solid #ccc;
	padding: 20px 0;
	font-size: 12px;
	color: #999;
}


// Type

a {
	color: #08c;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

hr {
	border: none;
	border-top: 1px solid #ccc;
	margin: 40px 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-weight: 300;
	margin: 40px 0 10px;
}


// Button

.btn {
	// font-size: 13px;
}
/*.btn {
	.transition(box-shadow ease-in-out 0.15s);
	.user-select(none);
	#gradient .vertical(#fafafa, #eaeaea);
	-webkit-appearance: none;
	border-radius: @border-radius-base;
	border: 1px solid #ccc;
	color: @text-color;
	cursor: pointer;
	display: inline-block;
	font-size: inherit;
	font-weight: @btn-font-weight;
	height: @component-height;
	line-height: @component-line-height;
	margin-bottom: 0;
	overflow: hidden; // contain gradient on IE9
	padding: 0 @btn-padding-horizontal;
	text-align: center;
	text-shadow: 0 1px 0 white;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;


	&:hover {
		#gradient .vertical(#fff, #eee);
		border-color: darken(#ccc, 5%) darken(#ccc, 5%) darken(#ccc, 10%);
		box-shadow: 0 1px 0 rgba(0,0,0,0.1);
		color: @text-color;
		text-decoration: none;
	}
	&:focus {
		border-color: @app-primary;
		box-shadow: 0 0 0 3px fade(@app-primary, 10%);
		color: @text-color;
		outline: none;
	}
	&:active {
		background: #e6e6e6;
		background-image: none;
		border-color: darken(#ccc, 10%);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		color: @text-color;
		outline: 0;
	}

	&.disabled,
	&[disabled] {
		background-color: #eee;
		opacity: .4;
		pointer-events: none;
	}
}*/


// 
// Select Control
// ------------------------------

@import "../../less/component.less";
